<%= link_to bike_path(bike), class: "card-link" do %>
  <div class="card-trip mr-2 mb-2 rounded">
    <%= cl_image_tag bike.photo.key, height: 300, width: 400, crop: :fill%>
    <div class="card-trip-infos">
      <div>
        <h3><%= bike.title %></h3>
        <h4><%= "Descrição: #{bike.description}" %></h4>
        <h4><%= "Endereço: #{bike.address}" %></h4>
        <h4><%= "#{humanized_money_with_symbol(bike.price)}/day" %></h4>
      </div>
    </div>
  </div>
<% end %>