<div class="container mt=10px">
  <div>
    <h1><%= @bike.title %></h1>
  </div>
  <div>
    <%= cl_image_tag @bike.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
  <div>
    <%= @bike.description %>
    Disponível em: <%= @bike.address %>
  </div>
  <div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div>
      <span id="price"><strong>
        R$ <%= @bike.price %></strong></span>
      <span id="day"> / dia</span>
    </div>
    <div>
      calendário - form
    </div>
      <%= link_to "Reservar", root_path, class:"" %>
  </div>
</div>

